---
eleventyExcludeFromCollections: true
permalink: /desales-tablet/dist/js/tablet-gam-home.min.js
---
{%- set js -%}
    {% include "src/desales-tablet/js/tablet-gam-home.js" %}
{%- endset -%}
{{ js | jsmin | safe }}
